<body>
	<div class="container">
		<div class="batman">
			<%= link_to 'batman', pages_batman_path,  :class => 'btn' %>			
		</div>
		<div class="superman">
			<%= link_to 'superman', pages_superman_path,  :class => 'btn' %>		
		</div>
	</div>
</body>
