// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.batman{
	background-image: url(https://upload.wikimedia.org/wikipedia/en/1/17/Batman-BenAffleck.jpg);
	height: 1600px;
	width: 1600px;
}